.content .list li {
  border-top: 1px solid var(--color-text);
  padding: 20px 15px;
  word-wrap: break-word;
}

.content .list li::selection {
  text-decoration: underline;
}

.title-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid var(--color-text);
}

.title-category h1 {
  margin: 0;
  padding: 10px 15px;
}

.title-category .btn-home {
  padding: 10px 15px;
  border-radius: var(--border-radius-card);
  vertical-align: center;
  color: var(--accent-color);
  text-decoration: none;
  background-color: var(--primary-color);
  margin-right: 20px;
  min-width: 92px;
  font-weight: bold;
}

.title-category .btn-home i {
  font-size: 1.3em;
}

.title-category + p {
  margin-top: 20px;
  text-align: center;
}

.box-search {
  background-color: transparent;
  padding: 20px 10px;
  border-bottom: 1px solid var(--color-text);
  border-radius: var(--border-radius-card);
  border: none;
}

.box-search .search-bar {
  width: 100%;
  padding: 10px 5px;
  border-radius: var(--border-radius-card);
  outline: none;
  /*
  outline-color: var(--primary-color);
  */
}

.box-search .search-bar:focus {
  box-shadow: 0 0 3pt 1.5pt var(--primary-color);
}

.content .list {
  /* Scroll list */
  max-height: 200px;
  min-height: 60px;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid;
}

.list a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list a:hover {
  transform: scale(1.01);
  transition: linear 450ms;
}

.list a:visited {
  text-decoration: var(--accent-color);
}

.list a li {
  width: 100%;
}

.bounceIn {
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

#categories {
  margin: 15px 0;
}

.box-categories {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  padding: 0 10px;
  border-radius: var(--border-radius-card);
}

.box-categories li a {
  text-decoration: none;
}

.tile-category {
  margin: -5px 7px;
  border-radius: var(--border-radius-card);
  background-color: var(--primary-color);
  display: block;
}

.tile-category p {
  display: flex;
  height: 100px;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  text-overflow: ellipsis;
  justify-content: center;
  align-items: center;
}

.list::-webkit-scrollbar {
  width: 15px;
}

.list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(14, 221, 210, 1);
  -webkit-box-shadow: inset 0 0 6px rgba(14, 221, 210, 1); 
}

@media (min-width: 720px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.content {
    text-align: center;
    max-width: 1080px;
    width: 95%;
    margin: var(--margin-card);
  }

  .content .list {
    /* Scroll list */
    max-height: 350px;
    min-height: 60px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
  }

  .content .list a {
    margin: 2px;
    border: 1px solid;
    width: 48.9%;
    border-radius: 4px;
    color: var(--accent-color);
    background-color: var(--primary-color);
  }

  .content .list a li {
    border-top: none;
  }

  .box-categories {
    grid-template-columns: 30% 30% 30%;
  }

  .box-search {
    background-color: transparent;
    padding: 20px 20px;
  }
}

@media (min-width: 950px) {
  .content .list a {
    width: 32.9%;
  }
}