
/*
.header {
  width: 100%;
  height: var(--height-header);
  color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

header.bg-header {
  transition: var(--transition-bg-header);
  background-color: var(--bg-header);
}

header.scrolled {
  transition: var(--transition-bg-header);
  background-color: var(--bg-header-scrolled) !important;
}

#box-logo {
  margin-left: var(--margin-elements-header);
  height: 100%;
  display: flex;
  align-items: center;
}

#logo {
  width: 23vw;
  height: 11vh;
}

#box-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: var(--margin-elements-header);
  width: 30vw;
  height: 11vh;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2vw;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-nav li {
  list-style: none;
}

.navbar-nav li a {
  transition: 250ms ease-out;
  color: black;
  text-decoration: none;
}

.navbar-nav li a:hover {
  transition: 250ms ease-in;
  color: var(--bg-destaque);
}

.destaque {
  background-color: var(--bg-destaque);
  padding: 7px 10px;
  border-radius: 100px;
}

li.destaque a {
  transition: 250ms ease-out;
  color: white;
}

li.destaque a:hover {
  transition: 250ms ease-in;
  color: black;
}
*/

.header {
  width: 100%;
  height: var(--height-header);
  background-color: var(--primary-color);
}

#box-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  width: 200px;
  height: 80%;
}

.logo-if {
  height: 60%;
}

#ifbq {
  margin-left: 50px;
  width: 50px;
  height: 100%;
}

@media (min-width: 720px) { 
  .header {
    position: relative;
    height: 120px;
  }

  #logo {
    width: 250px;
  }

  #ifbq {
    width: 85px;
    height: 100%;
  }

  .logo-if {
    height: 80%;
  }
}