@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../node_modules/font-awesome/css/font-awesome.min.css";

:root {
  --accent-color: #303030;
  --primary-color: #0eddd2;
  --bg-color: #38797b;
  --bg-color-section: #303030;
  --color-text: white;
  --color-headline: white;
  --margin-elements-header: 3%;
  --bg-destaque: rgba(25,136,44,1);
  --bg-header: rgba(0,0,0,0.1);
  --height-header: 17vh;
  --border-radius-card: 10px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  /*
  background: linear-gradient(
    rgba(255,255,255,1) 0%, 
    rgba(25,136,44,1) 65%, 
    rgba(10,85,23,1) 100%
  );
  */
  background-color: var(--bg-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  min-height: 100vh;
}